# ACTIVIDAD GOBIERNO DE LOS DATOS

‚ö†Ô∏èüòìProblemas comunes de datos

A continuacion vamos a trabajar sobre un dataset que contiene datos sucios, al cual le vamos a aplicar tecnicas de limpieza como:

‚úîÔ∏èConversion de tipos de datos

‚úîÔ∏èEliminacion de datos duplicados para evitar el doble conteo

‚úîÔ∏èRestrinccion de rangos para evitar datos futuros incoherentes

üßæInformacion del Dataset
El dataset que estaremos trabajando comprende informacion sobre las estaciones de inicio y finalizaci√≥n, la duraci√≥n del viaje y cierta informaci√≥n para el usuario de un servicio de bicicletas compartidas.

In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [14]:
import pandas as pd
df_ride = pd.read_csv("https://raw.githubusercontent.com/bintutr/Data-Governance-and-Data-Quality-/refs/heads/main/ride_sharing_new.csv")
#veamos que tiene el dataset
df_ride.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ride_id          76 non-null     int64
 1   duration         76 non-null     object
 2   station_A_id     76 non-null     int64
 3   station_A_name   76 non-null     object
 4   station_B_id     76 non-null     int64
 5   station_B_name   76 non-null     object
 6   bike_id          76 non-null     int64
 7   user_type        76 non-null     int64
 8   user_birth_year  76 non-null     int64
 9   user_gender      76 non-null     object
 10  tire_sizes       76 non-null     int64
 11  ride_date        76 non-null     object
dtypes: int64(7), object(5)
memory usage: 7.3+ KB

La columna `user_type` contiene informaci√≥n sobre si un usuario est√° viajando gratis y toma los siguientes valores:

üö¥‚Äç‚ôÇÔ∏è 1 de viaje gratis

üö¥‚Äç‚ôÇÔ∏è 2 de pago por viaje

üö¥‚Äç‚ôÇÔ∏è 3 de suscriptores mensuales

In [15]:
#utilizamos describe para ver el resumen estadistico de los datos de la columna user_typ
df_ride = pd.read_csv("https://raw.githubusercontent.com/bintutr/Data-Governance-and-Data-Quality-/refs/heads/main/ride_sharing_new.csv")
df_ride['user_type'].describe()

count    76.000000
mean      1.881579
std       0.692187
min       1.000000
25%       1.000000
50%       2.000000
75%       2.000000
max       3.000000
Name: user_type, dtype: float64

üëÅÔ∏è‚Äçüó®Ô∏è Al observar las estadisticas resumidas de la columna `user_type` vemos que tiene un conjunto finito de valores posibles que representan agrupaciones de datos, por ende, debemos convertir esta columna a tipo categor√≠a.

In [16]:
df_ride = pd.read_csv("https://raw.githubusercontent.com/bintutr/Data-Governance-and-Data-Quality-/refs/heads/main/ride_sharing_new.csv")
#podemos a cambiar el tipo de dato con astype, y se lo asignamos a la nueva columna
df_ride['user_type'] = df_ride['user_type'].astype('category')

#Para asegurarnos que la conversion fue correcta utilizamos la declaracion assert
assert df_ride['user_type'].dtype == 'category'

#y nuevamente observamos las estadisticas resumidas de la nueva columna, y podemos ver que
#el resultado cambia al tratarse de una variable categorica
print(df_ride['user_type'].describe())

count     76
unique     3
top        2
freq      39
Name: user_type, dtype: int64

üßπAhora bien, siguiendo con nuestra limpieza debemos evitar la inconsistencia de tipo de datos, es decir, debemos asesorarnos que los datos de tipo numericos sean numericos y asi sucesivamente con los demas datos. Esto se hace con el fin de que las operaciones matematicas que querramos realizar sobre esos datos arrojen resultados correctos y no erroneos.

Despues de haber revisado que contiene nuestro dataset, vamos a convertir la columna `durational` que es de tipo `object` a tipo `int`. Sin embargo, antes de eso, debemos asegurarnos de eliminar la palabra "minutes" para asi poderla convertir a numerica.

In [17]:
df_ride = pd.read_csv("https://raw.githubusercontent.com/bintutr/Data-Governance-and-Data-Quality-/refs/heads/main/ride_sharing_new.csv")

#eliminamos la cadena minutes con el metodo strip 
df_ride['duration'] = df_ride['duration'].str.strip('minutes')

#convertirmos duration a tipo int 
df_ride['duration'] = df_ride['duration'].astype('int')

#Para asegurarnos que la conversion fue correcta utilizamos la declaracion assert
assert df_ride['duration'].dtype == 'int'

#Finalmente conocemos cual es la media de la columna duration_time
print(df_ride['duration'].mean())

12.776315789473685

Ahora vamos a trabajar sobre la columna `tire_size` la cual contiene datos sobre el tama√±o de los neum√°ticos de cada bicicleta. el tama√±o de los neum√°ticos de las bicicletas pueden ser 26" 27" y 29" y son almacenados con un valor float.

Actualmente se quieren reducir los costos de mantenimiento, por consiguiente el proveedor decidi√≥ establecer el tama√±o m√°ximo de neum√°ticos en 27. Respecto a esto vamos a asegurarnos de que la columna `tire_sizes` tenga el rango correcto para esto establecemos el nuevo limite superior 27" para los tama√±os de neum√°ticos, y despues convirtimos la columna a tipo categoria.

In [18]:
df_ride = pd.read_csv("https://raw.githubusercontent.com/bintutr/Data-Governance-and-Data-Quality-/refs/heads/main/ride_sharing_new.csv")
#usamos loc para seleccionar todo esos registros mayores a 27 establecerle el limite superior que es 27
df_ride.loc[df_ride['tire_sizes'] > 27, 'tire_sizes'] = 27
df_ride.head(10)

#convetirmos a tipo categorico
df_ride['tire_sizes'] = df_ride['tire_sizes'].astype('category')

df_ride['tire_sizes'].describe()

count     76
unique     2
top       27
freq      73
Name: tire_sizes, dtype: int64

üìÖ Ahora procederemos a encontrar todos los registros de la columna `ride_date` que tengan fechas futura, en caso de que si exista esta inconsistencia, lo que haremos sera establecer el valor maximo de esta columna con la fecha de hoy, pero antes de hacer eso debemos convetir a `ride_data` a tipo datetime.

In [23]:
import datetime as dt

df_ride = pd.read_csv("https://raw.githubusercontent.com/bintutr/Data-Governance-and-Data-Quality-/refs/heads/main/ride_sharing_new.csv")

#convertimos a ride_date en tipo de dato datetime
df_ride['ride_date'] = pd.to_datetime(df_ride['ride_date']).dt.date

#almacenamos la fecha de hoy
today = dt.date.today()

# y por ultimo le aplicamos la fecha de hoy almacenada en today a aquellos registros con
#fechas futuras, es decir con fechas superiores a hoy
df_ride.loc[df_ride['ride_date'] > today, 'ride_date'] = today

#mostramos la fecha maxima
print(df_ride['ride_date'].max())

2022-05-04

C:\Users\bintu\AppData\Local\Temp\ipykernel_9868\2708044139.py:6: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_ride['ride_date'] = pd.to_datetime(df_ride['ride_date']).dt.date

LLego la hora, de encontrar los datos duplicados. Vamos a buscar que registros se encuentran duplicados en nuestro dataset.

In [24]:
df_ride = pd.read_csv("https://raw.githubusercontent.com/bintutr/Data-Governance-and-Data-Quality-/refs/heads/main/ride_sharing_new.csv")

# Aqui buscamos duplicados 
duplicates = df_ride.duplicated('ride_id', keep = False)

# ordenamos por la columna ride_id los registros duplicados obtenidos
df_ride = df_ride[duplicates].sort_values( by = 'ride_id')

# y por ultimo imprimimos los datos duplicados, mostramos 
#en cuales columnas estaban estos registros
print(df_ride[['ride_id','duration','user_birth_year']])

    ride_id    duration  user_birth_year
21       33  11 minutes             1986
38       33   6 minutes             1966
52       55  13 minutes             1999
64       55  10 minutes             1999
72       71  11 minutes             1987
73       71  11 minutes             1987
74       89   9 minutes             1990
75       89   9 minutes             1990

Despues de conocer los duplicados y las columnas que los almacenan hemos podido observar que hay filas duplicadas tanto completas como incompletas para algunos valores de la columna `ride_id`, con valores diferentes para las columnas `user_birth_year` y duration.

Entonces, lo que vamos hacer es primero tratar esas filas duplicadas eliminando primero los duplicados completos y luego fusionando las filas duplicadas incompletas en una, manteniendo el promedio de `duration` y el m√≠nimo `user_birth_year` para cada conjunto de filas duplicadas incompletas.

In [27]:
import pandas as pd
df_ride = pd.read_csv("https://raw.githubusercontent.com/bintutr/Data-Governance-and-Data-Quality-/refs/heads/main/ride_sharing_new.csv")

# Eliminamos los duplicados completos en ride_sharing
ride_dup = df_ride.drop_duplicates()
ride_dup.loc[:, 'duration'] = ride_dup['duration'].str.replace(' minutes', '').astype(float)

# Creamos un diccionario de estadisticas para funciones de agregacion
statistics = {'user_birth_year': 'min', 'duration': 'mean'}
ride_unique = ride_dup.groupby('ride_id').agg(statistics).reset_index()

# nuevamente buscamos valores duplicados
duplicates = ride_unique.duplicated(subset='ride_id', keep=False)
duplicated_rides = ride_unique[duplicates]

# y por ultimo nos aseguramos que se haya aplicado todo correctamente
assert duplicated_rides.shape[0] == 0

‚ùåüî°Problemas de texto y datos categ√≥ricos
En este espacio, vamos a corregir las incoherencias de hay con espacios en blanco y may√∫sculas en las etiquetas de las categor√≠as, tambien, vamos a contraer varias categor√≠as en una sola y cambiar el formato de las cadenas para mantener la coherencia

üßæInformacion del Dataset

En este espacio trabajaremos con un dataset llamado `df_airlines` que contiene las respuestas de una encuesta que se le realizaron a los clientes de las aerolineas del aeropuerto de San Francisco. Este dataset tiene metadatos de vuelos, destinos, tiempos de espera, y tambien respuestas a preguntas de seguridad y sastifaccion

Tambien trabajaremos con un dataset llamado `df_categories`, que contiene todos los valores posibles correctos para las columnas de la encuesta.

‚úîÔ∏èUtilizaremos ambos dataset para encontrar respuestas de encuestas con valores inconsistentes y eliminarlas, con el fin de poder realizar de manera efectiva una combinaci√≥n externa e interna en ambos dataset.

In [28]:
df_categories = pd.read_csv("https://raw.githubusercontent.com/bintutr/Data-Governance-and-Data-Quality-/refs/heads/main/categories.csv")
df_airlines = pd.read_csv("https://raw.githubusercontent.com/bintutr/Data-Governance-and-Data-Quality-/refs/heads/main/airlines_final.csv")

#conozcamos cada una de las categorias
print(df_categories)

      cleanliness           safety          satisfaction
0           Clean          Neutral     Very satisfaction
1         Average        Very safe               Neutral
2  Somewhat clean    Somewhat safe    Somewhat satisfied
3  Somewhat dirty      Very unsafe  Somewhat unsatisfied
4          Dirty   Somewhat unsafe      Very unsatisfied

In [29]:
df_categories = pd.read_csv("https://raw.githubusercontent.com/bintutr/Data-Governance-and-Data-Quality-/refs/heads/main/categories.csv")
df_airlines = pd.read_csv("https://raw.githubusercontent.com/bintutr/Data-Governance-and-Data-Quality-/refs/heads/main/airlines_final.csv")

#Imprimimos los valores unicos de cada columna de la encuesta airlines
#usando el metodo .unique()
print('Cleanliness: ', df_airlines['cleanliness'].unique(), "\n")
print('Safety: ', df_airlines['safety'].unique(), "\n")
print('Satisfaction: ', df_airlines['satisfaction'].unique(), "\n")

Cleanliness:  ['Clean' 'Average' 'Unacceptable' 'Somewhat clean' 'Somewhat dirty'
 'Dirty']

Safety:  ['Neutral' 'Very safe' 'Somewhat safe' 'Very unsafe' 'Somewhat unsafe']

Satisfaction:  ['Very satisfied' 'Neutral' 'Somewhat satsified' 'Somewhat unsatisfied'
 'Very unsatisfied']

üëÅÔ∏è‚Äçüó®Ô∏è Despues de observar lo que contiene cada una de las categorias, hemos detectado que la columna `Cleanliness` de `df_airlines` tiene una categoria inconsistentes que es *Unacceptable*

üë∑‚Äç‚ôÄÔ∏è Ahora vamos a crear un conjunto de la columna `cleanliness` en `df_airlines` y encontremos la categoria inconsistente encontrando la **diferencia** en la columna `cleanliness` de `df_categories`.

In [30]:
df_categories = pd.read_csv("https://raw.githubusercontent.com/bintutr/Data-Governance-and-Data-Quality-/refs/heads/main/categories.csv")
df_airlines = pd.read_csv("https://raw.githubusercontent.com/bintutr/Data-Governance-and-Data-Quality-/refs/heads/main/airlines_final.csv")

# Aplicamos la diferencia
cat_clean = set(df_airlines['cleanliness']).difference(df_categories['cleanliness'])

#Buscamos filas de df_airlines con un valor en cleanliness
#que no este en df_categories
cat_clean_rows = df_airlines['cleanliness'].isin(cat_clean)

# Imprimimos las filas con categorias inconsistentes
print(df_airlines[cat_clean_rows])

# Imprimimos las filas solo con categorias consistentes
print(df_airlines[~cat_clean_rows])

        id        day          airline destination            dest_region  \
4     2992  Wednesday         AMERICAN       MIAMI                East US
586   2920   Thursday            DELTA     SEATTLE                West US
1816  2439  Wednesday  AIR NEW ZEALAND    AUCKLAND  Australia/New Zealand

     dest_size boarding_area   dept_time  wait_min   cleanliness     safety  \
4          Hub   Gates 50-59  2018-12-31     559.0  Unacceptable  Very safe
586        Hub   Gates 40-48  2018-12-31     180.0         Dirty    Neutral
1816    Medium  Gates 91-102  2018-12-31     250.0         Dirty    Neutral

            satisfaction
4     Somewhat satsified
586     Very unsatisfied
1816             Neutral
        id       day        airline        destination    dest_region  \
0     1351   Tuesday    UNITED INTL             KANSAI           Asia
1      373    Friday         ALASKA  SAN JOSE DEL CABO  Canada/Mexico
2     2820  Thursday          DELTA        LOS ANGELES        West US
3     1157   Tuesday      SOUTHWEST        LOS ANGELES        West US
5      634  Thursday         ALASKA             NEWARK        East US
...    ...       ...            ...                ...            ...
2804  1475   Tuesday         ALASKA       NEW YORK-JFK        East US
2805  2222  Thursday      SOUTHWEST            PHOENIX        West US
2806  2684    Friday         UNITED            ORLANDO        East US
2807  2549   Tuesday        JETBLUE         LONG BEACH        West US
2808  2162  Saturday  CHINA EASTERN            QINGDAO           Asia

     dest_size boarding_area   dept_time  wait_min     cleanliness  \
0          Hub  Gates 91-102  2018-12-31     115.0           Clean
1        Small   Gates 50-59  2018-12-31     135.0           Clean
2          Hub   Gates 40-48  2018-12-31      70.0         Average
3          Hub   Gates 20-39  2018-12-31     190.0           Clean
5          Hub   Gates 50-59  2018-12-31     140.0  Somewhat clean
...        ...           ...         ...       ...             ...
2804       Hub   Gates 50-59  2018-12-31     280.0  Somewhat clean
2805       Hub   Gates 20-39  2018-12-31     165.0           Clean
2806       Hub   Gates 70-90  2018-12-31      92.0           Clean
2807     Small    Gates 1-12  2018-12-31      95.0           Clean
2808     Large    Gates 1-12  2018-12-31     220.0           Clean

             safety        satisfaction
0           Neutral      Very satisfied
1         Very safe      Very satisfied
2     Somewhat safe             Neutral
3         Very safe  Somewhat satsified
5         Very safe      Very satisfied
...             ...                 ...
2804        Neutral  Somewhat satsified
2805      Very safe      Very satisfied
2806      Very safe      Very satisfied
2807  Somewhat safe      Very satisfied
2808      Very safe  Somewhat satsified

[2474 rows x 12 columns]

üí° Vamos a examinar las columnas categ√≥ricas dest_region y dest_size del dataset df_airlines, y nos aseguraremos de que est√©n limpias y listas para el an√°lisis.

In [31]:
df_categories = pd.read_csv("https://raw.githubusercontent.com/bintutr/Data-Governance-and-Data-Quality-/refs/heads/main/categories.csv")
df_airlines = pd.read_csv("https://raw.githubusercontent.com/bintutr/Data-Governance-and-Data-Quality-/refs/heads/main/airlines_final.csv")

# Imprimimos los valores unicos de ambas columnas
print('Dest Region: ', df_airlines['dest_region'].unique(), "\n")
print('Dest Size: ', df_airlines['dest_size'].unique(), "\n")

Dest Region:  ['Asia' 'Canada/Mexico' 'West US' 'East US' 'Midwest US' 'EAST US'
 'Middle East' 'Europe' 'eur' 'Central/South America'
 'Australia/New Zealand' 'middle east']

Dest Size:  ['Hub' 'Small' '    Hub' 'Medium' 'Large' 'Hub     ' '    Small'
 'Medium     ' '    Medium' 'Small     ' '    Large' 'Large     ']

Del resultado anterior podemos concluir los siguientes problemas:

‚ö†Ô∏èLa columna `dest_region` tiene valores inconsistentes debido a las may√∫sculas y tiene un valor que debe reasignarse.

‚ö†Ô∏èLa columna `dest_size` solo tiene valores inconsistentes debido a los espacios iniciales y finales.

Para resolver los problemas que hemos dectetado procederemos a:
‚≠êCambiar las mayusculas de todos los valores de `dest_region` a minisculas.
‚≠êRemplazar `'eur'` con `'europe'` en `dest_region` usando el metodo `.replace()`
‚≠êQuitar los espacios en blancos de la columna `dest_size` usando el metodo `.strip()`
‚≠êVerificar que los cambios se hayan realizado con exito imprimiendo los valores unico de las columnas usando el metodo `.unique()`

In [32]:
df_categories = pd.read_csv("https://raw.githubusercontent.com/bintutr/Data-Governance-and-Data-Quality-/refs/heads/main/categories.csv")
df_airlines = pd.read_csv("https://raw.githubusercontent.com/bintutr/Data-Governance-and-Data-Quality-/refs/heads/main/airlines_final.csv")
df_airlines['dest_region'] = df_airlines['dest_region'].str.lower()

df_airlines['dest_region'] = df_airlines['dest_region'].replace({'eur':'europe'})

df_airlines['dest_size'] = df_airlines['dest_size'].str.strip()

print('Dest Region: ', df_airlines['dest_region'].unique(), "\n")
print('Dest Size: ', df_airlines['dest_size'].unique(), "\n")

Dest Region:  ['asia' 'canada/mexico' 'west us' 'east us' 'midwest us' 'middle east'
 'europe' 'central/south america' 'australia/new zealand']

Dest Size:  ['Hub' 'Small' 'Medium' 'Large']

Para entender mejor a los encuestado, deseamos averiguar si existe una relaci√≥n entre ciertas respuestas y el d√≠a de la semana y el tiempo de espera en la puerta.

el dataset `df_airlines` contiene las columnas `day` y `wait_min`, que son categ√≥ricas y num√©ricas respectivamente. La columna `day` contiene el d√≠a exacto en que se realiz√≥ un vuelo y `wait_min` la cantidad de minutos que los viajeros tardaron en esperar en la puerta de embarque. Para facilitar su an√°lisis, deseamos crear dos nuevas variables categ√≥ricas:

`wait_type:`

`'short'` de 0 a 60 min
`'medium'`de 60 a 180 min
`'long'` mas de 180 min

`day_week:`

`'weekday'` si el d√≠a est√° en el d√≠a de la semana
`'weekend'` si el d√≠a es en el fin de semana.
Para resolverlo realizaremos los siguientes pasos:

üëç Creamos los rangos y etiquetas para la columna `wait_type`
üëç Creamos la columna `wait_type` desde wait_min usando el metodo `pd.cut()`
üëç Creamos el diccionario `mapping` que ayudara a mapear a los dias de la semana `'weekday'` y a los dias del fin de semana `'weekend'`
Creamos la columna `day_week` usando `.replace()`

In [34]:
import numpy as np

df_categories = pd.read_csv("https://raw.githubusercontent.com/bintutr/Data-Governance-and-Data-Quality-/refs/heads/main/categories.csv")
df_airlines = pd.read_csv("https://raw.githubusercontent.com/bintutr/Data-Governance-and-Data-Quality-/refs/heads/main/airlines_final.csv")

# Creamos los rangos para categoria
label_ranges = [0, 60, 180, np.inf]
label_names = ['short', 'medium', 'long']

# Creamos la columna wait_type  
df_airlines['wait_type'] = pd.cut(df_airlines['wait_min'], bins =label_ranges, 
                                  labels = label_names)

# Creamos el diccionario
mappings = {'Monday':'weekday', 'Tuesday':'weekday', 'Wednesday': 'weekday', 
            'Thursday': 'weekday', 'Friday': 'weekday', 
            'Saturday': 'weekend', 'Sunday': 'weekend'}

df_airlines['day_week'] = df_airlines['day'].replace(mappings)

In [26]:
df_airlines.head()

,id,day,airline,destination,dest_region,dest_size,boarding_area,dept_time,wait_min,cleanliness,safety,satisfaction,wait_type,day_week
0,1351,Tuesday,UNITED INTL,KANSAI,Asia,Hub,Gates 91-102,2018-12-31,115.0,Clean,Neutral,Very satisfied,medium,weekday
1,373,Friday,ALASKA,SAN JOSE DEL CABO,Canada/Mexico,Small,Gates 50-59,2018-12-31,135.0,Clean,Very safe,Very satisfied,medium,weekday
2,2820,Thursday,DELTA,LOS ANGELES,West US,Hub,Gates 40-48,2018-12-31,70.0,Average,Somewhat safe,Neutral,medium,weekday
3,1157,Tuesday,SOUTHWEST,LOS ANGELES,West US,Hub,Gates 20-39,2018-12-31,190.0,Clean,Very safe,Somewhat satsified,long,weekday
4,2992,Wednesday,AMERICAN,MIAMI,East US,Hub,Gates 50-59,2018-12-31,559.0,Unacceptable,Very safe,Somewhat satsified,long,weekday